*.pyc
*.db
env.conf
env/
.DS_Store
model_old.py
send_sms.py
__pychache_
scratch_pad.py
seed.py
callback_received_sample
.idea/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/workspace.xml
celerybeat.pid
