*.pyc
*.db
env.conf
textstoself/env.cfg
env/
.DS_Store
scratch_files/model_old.py
scratch_files/send_sms.py
__pychache_
scratch_files/scratch_pad.py
seed.py
scratch_files/callback_received_sample
.idea/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/inspectionProfiles/
.idea/workspace.xml
celerybeat.pid
scratch_files/

