{% extends 'base.html' %}
{% block content %}
  <h2>User Profile: {{ user.username }}</h2>



  {% if job %}

  <h3>Active Job:</h3>


    <ul>
      <li>Active: <b>{{ job.active }}</b> <br> Runs <b>{{ job.frequency }} </b> at <b> {{ job.time }} </b>   </li>
    </ul>
      <p><a href="/update">Update</a></p>


  {% endif %}


  {% if jobs %}

    <h3>Log:</h3>

    {% for job in jobs %}

    <ul>
      <li>Active:<b>{{ jobs.active }} </b> Data Added: <b> {{ jobs.date_added }} </b> </li>
    </ul>
    {% endfor %}

  {% endif %}

{% endblock %}
