{% extends 'base.html' %}
{% block content %}
  <h2>User Profile: {{ user.username }}</h2>



  {% if active_job %}

  <h3>Active Job:</h3>


    <ul>
      <li>Active: <b>{{ active_job.active }}</b> <br> Runs <b>{{ active_job.frequency }} </b> at <b> {{ active_job.time }} </b>   </li>
    </ul>
      <p><a href="/jobs">Update</a></p>


  {% endif %}


  {% if events %}

    <h3>Log:</h3>

    {% for event in events %}

    <ul>
      <li>Date:<b>{{ event.date_added }} </b> Value: <b> {{ event.msg_body }} </b> </li>
    </ul>
    {% endfor %}

  {% endif %}

{% endblock %}
