
<!doctype html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
 <title>Texts to Self</title>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</head>

<body>
  Texts to Self
  <hr>

  {% block content %} put your content here {% endblock %}
  <br/>
  <a href="/logout">Logout</a>
</body>
</html>